In [16]:
import pandas as pd
import numpy as np

In [2]:
currentsavings_df = pd.read_csv("Current and Savings Account Data.csv")

In [3]:
currentsavings_df.head()

,ID,Account_Number,Application ID,Month (YYYY-MM),Open Date,Closed Date,Average Balance,Overdraft Limit,Number of Days in Debit during Month,Number of Days in Credit during Month,...,Sum of Bounced Cheque transactions,Number of Bounced Cheques,Sum of Debit Card POS Transactions,Number of Debit Card POS Transactions,Sum of Over the Counter Withdrawals,Number of Over the Counter withdrawals,Account Type,Account Status,Number of Joint Holders,SpshotMonth
0,1,ACC10000001,C302100001,2015-09-01,2015-09-06,NaN,1986.09,0.0,0.0,25.0,...,NaN,0.0,NaN,0.0,NaN,0.0,Savings,Active,0.0,2015-09-01
1,2,ACC10000002,C302100001,2015-09-01,2015-09-06,2018-10-04,23.45,NaN,0.0,25.0,...,NaN,0.0,NaN,0.0,NaN,0.0,Savings,Closed,0.0,2015-09-01
2,3,ACC10000001,C302100001,2015-10-01,2015-09-06,NaN,8120.71,0.0,0.0,31.0,...,NaN,0.0,58.62,1.0,NaN,0.0,Savings,Active,0.0,2015-10-01
3,4,ACC10000002,C302100001,2015-10-01,2015-09-06,2018-10-04,25.26,NaN,0.0,31.0,...,NaN,0.0,NaN,0.0,NaN,0.0,Savings,Closed,0.0,2015-10-01
4,5,ACC10000001,C302100001,2015-11-01,2015-09-06,NaN,6624.10,0.0,0.0,30.0,...,NaN,0.0,989.57,3.0,NaN,0.0,Savings,Active,0.0,2015-11-01

In [4]:
currentsavings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857677 entries, 0 to 857676
Data columns (total 31 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ID                                      857677 non-null  int64
 1   Account_Number                          857677 non-null  object
 2   Application ID                          857672 non-null  object
 3   Month (YYYY-MM)                         857647 non-null  object
 4   Open Date                               857647 non-null  object
 5   Closed Date                             161748 non-null  object
 6   Average Balance                         857647 non-null  float64
 7   Overdraft Limit                         753484 non-null  float64
 8   Number of Days in Debit during Month    857647 non-null  float64
 9   Number of Days in Credit during Month   857647 non-null  float64
 10  Maximum End of Day Balance              857647 non-null  float64
 11  Minimum End of Day Balance              857647 non-null  float64
 12  Sum of Monthly Debit Transactions       832991 non-null  float64
 13  Sum of Monthly Credit Transactions      857529 non-null  float64
 14  Last Transaction Date                   525671 non-null  object
 15  Sum of ATM Deposits                     14624 non-null   float64
 16  Number of ATM Deposits                  857647 non-null  float64
 17  Sum of ATM Withdrawals                  188709 non-null  float64
 18  Number of ATM Withdrawals               857647 non-null  float64
 19  Sum of Cheque Debit Transactions        634 non-null     float64
 20  Number of Cheque Debit Transactions     857647 non-null  float64
 21  Sum of Bounced Cheque transactions      2 non-null       float64
 22  Number of Bounced Cheques               857647 non-null  float64
 23  Sum of Debit Card POS Transactions      114682 non-null  float64
 24  Number of Debit Card POS Transactions   857647 non-null  float64
 25  Sum of Over the Counter Withdrawals     64064 non-null   float64
 26  Number of Over the Counter withdrawals  857647 non-null  float64
 27  Account Type                            857647 non-null  object
 28  Account Status                          857647 non-null  object
 29  Number of Joint Holders                 857647 non-null  float64
 30  SpshotMonth                             857647 non-null  object
dtypes: float64(21), int64(1), object(9)
memory usage: 202.9+ MB

In [7]:
currentsavings_df.describe()

,ID,Average Balance,Overdraft Limit,Number of Days in Debit during Month,Number of Days in Credit during Month,Maximum End of Day Balance,Minimum End of Day Balance,Sum of Monthly Debit Transactions,Sum of Monthly Credit Transactions,Sum of ATM Deposits,...,Number of ATM Withdrawals,Sum of Cheque Debit Transactions,Number of Cheque Debit Transactions,Sum of Bounced Cheque transactions,Number of Bounced Cheques,Sum of Debit Card POS Transactions,Number of Debit Card POS Transactions,Sum of Over the Counter Withdrawals,Number of Over the Counter withdrawals,Number of Joint Holders
count,857677.00000,857647.000000,753484.0,857647.000000,857647.000000,857647.000000,857647.000000,832991.000000,857529.000000,14624.000000,...,857647.000000,634.000000,857647.000000,2.000000,857647.000000,114682.000000,857647.000000,64064.000000,857647.000000,857647.000000
mean,428839.00000,758.212527,0.0,0.873334,28.797508,1217.922547,529.432118,864.919383,858.311773,739.770090,...,1.199945,6918.301767,0.001909,1232.205000,0.000002,603.597073,0.656150,3033.397373,0.171874,0.254720
std,247590.16775,2829.181786,0.0,4.972188,6.299025,3913.854203,2421.874519,3373.647733,3532.513718,1397.177372,...,3.346468,17881.429838,0.095646,1573.263091,0.001527,1010.416773,2.611211,7918.782906,0.832202,0.526414
min,1.00000,-30735.730000,0.0,0.000000,0.000000,-18929.100000,-59639.620000,0.000000,0.000000,0.000000,...,0.000000,7.030000,0.000000,119.740000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,214420.00000,11.720000,0.0,0.000000,30.000000,11.750000,4.930000,0.000000,0.000000,117.230000,...,0.000000,393.900000,0.000000,675.972500,0.000000,89.570000,0.000000,49.210000,0.000000,0.000000
50%,428839.00000,79.740000,0.0,0.000000,31.000000,160.840000,18.200000,0.010000,0.000000,351.700000,...,0.000000,1406.800000,0.000000,1232.205000,0.000000,260.695000,0.000000,474.440000,0.000000,0.000000
75%,643258.00000,552.215000,0.0,0.000000,31.000000,1076.735000,218.820000,586.400000,521.660000,820.630000,...,0.000000,4140.472500,0.000000,1788.437500,0.000000,702.177500,0.000000,2344.670000,0.000000,0.000000
max,857677.00000,281359.910000,0.0,31.000000,60.000000,348322.030000,211019.930000,336718.490000,336844.080000,70339.980000,...,71.000000,134024.040000,20.000000,2344.670000,1.000000,38452.520000,95.000000,335832.200000,34.000000,4.000000

In [8]:
currentsavings_df.value_counts()

Series([], Name: count, dtype: int64)

In [9]:
currentsavings_df.duplicated().sum()

0

In [10]:
currentsavings_df.isnull().sum() / len(currentsavings_df) * 100

ID                                         0.000000
Account_Number                             0.000000
Application ID                             0.000583
Month (YYYY-MM)                            0.003498
Open Date                                  0.003498
Closed Date                               81.141152
Average Balance                            0.003498
Overdraft Limit                           12.148280
Number of Days in Debit during Month       0.003498
Number of Days in Credit during Month      0.003498
Maximum End of Day Balance                 0.003498
Minimum End of Day Balance                 0.003498
Sum of Monthly Debit Transactions          2.878240
Sum of Monthly Credit Transactions         0.017256
Last Transaction Date                     38.709911
Sum of ATM Deposits                       98.294929
Number of ATM Deposits                     0.003498
Sum of ATM Withdrawals                    77.997661
Number of ATM Withdrawals                  0.003498
Sum of Cheque Debit Transactions          99.926079
Number of Cheque Debit Transactions        0.003498
Sum of Bounced Cheque transactions        99.999767
Number of Bounced Cheques                  0.003498
Sum of Debit Card POS Transactions        86.628766
Number of Debit Card POS Transactions      0.003498
Sum of Over the Counter Withdrawals       92.530521
Number of Over the Counter withdrawals     0.003498
Account Type                               0.003498
Account Status                             0.003498
Number of Joint Holders                    0.003498
SpshotMonth                                0.003498
dtype: float64

# Cleaning & Processing

# Filter Out Rows Without Application ID

In [11]:
currentsavings_df = currentsavings_df[currentsavings_df['Application ID'].notna()]

# Convert Date Fields to Datetime Format
### Important for temporal filtering, aggregation, or trend analysis.

In [12]:
date_cols = ['Open Date', 'Closed Date', 'Last Transaction Date', 'SpshotMonth']
for col in date_cols:
    currentsavings_df[col] = pd.to_datetime(currentsavings_df[col], errors='coerce')

/tmp/ipykernel_29327/2033708933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  currentsavings_df[col] = pd.to_datetime(currentsavings_df[col], errors='coerce')
/tmp/ipykernel_29327/2033708933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  currentsavings_df[col] = pd.to_datetime(currentsavings_df[col], errors='coerce')
/tmp/ipykernel_29327/2033708933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  currentsavings_df[col] = pd.to_datetime(currentsavings_df[col], errors='coerce')
/tmp/ipykernel_29327/2033708933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  currentsavings_df[col] = pd.to_datetime(currentsavings_df[col], errors='coerce')

# Aggregate at Application ID Level
# Because each row is a monthly snapshot, we need to reduce to one row per applicant before merging.

In [13]:
# List of helpful numeric features
agg_features = {
    'Average Balance': ['mean', 'max', 'min'],
    'Overdraft Limit': ['max'],
    'Number of Days in Debit during Month': ['sum', 'mean'],
    'Number of Days in Credit during Month': ['sum', 'mean'],
    'Sum of Monthly Debit Transactions': ['mean'],
    'Sum of Monthly Credit Transactions': ['mean'],
    'Number of ATM Withdrawals': ['sum'],
    'Number of Bounced Cheques': ['sum'],
    'Number of Joint Holders': ['max']
}

# Group by Application ID
banking_summary = currentsavings_df.groupby('Application ID').agg(agg_features)

# Flatten column names
banking_summary.columns = ['_'.join(col).strip() for col in banking_summary.columns.values]
banking_summary.reset_index(inplace=True)

## Handle High-Missing Columns
### Fields like:

### Sum of Bounced Cheque transactions (~99.9% missing)

### Sum of Cheque Debit Transactions, POS, Over the Counter Withdrawals

In [14]:
# Drop extremely sparse columns
drop_cols = [
    'Sum of Bounced Cheque transactions',
    'Sum of Cheque Debit Transactions',
    'Sum of Debit Card POS Transactions',
    'Sum of Over the Counter Withdrawals'
]
currentsavings_df.drop(columns=drop_cols, inplace=True)

/tmp/ipykernel_29327/1412445809.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  currentsavings_df.drop(columns=drop_cols, inplace=True)

# Feature Engineering Ideas.
### These can improve your model's understanding of financial health:

In [17]:
# Has bounced cheques?
currentsavings_df['Has_Bounced_Cheques'] = (currentsavings_df['Number of Bounced Cheques'] > 0).astype(int)

# Net cash flow for the month
currentsavings_df['Net_Cashflow'] = (
    currentsavings_df['Sum of Monthly Credit Transactions'] -
    currentsavings_df['Sum of Monthly Debit Transactions']
)

# Liquidity ratio: max balance to average balance
currentsavings_df['Liquidity_Ratio'] = (
    currentsavings_df['Maximum End of Day Balance'] /
    currentsavings_df['Average Balance'].replace(0, np.nan)
)

In [18]:
currentsavings_df.to_csv("clean_current_savings.csv", index = False)